@import "colors";

h1 {
	color: $purple;
}

h2 {
	color: $dirtpurple;
}

h3 {
	color: $teal;
}

body {
	width: 100%;
   	height: 100%;
	background: url("https://lh3.googleusercontent.com/-fDMmTlVQ8o8/U2lgxKP9SII/AAAAAAAAAhI/EBolw_sl77o/w400-h200/tumblr_n47u6rDPJ31qzd1ybo2_400_zps43dd2d89.png")bottom right no-repeat; 
	background-attachment:fixed;
}

a {
	text-decoration: none;
	color: $crust;
	font-size: 1.1em
}

a:hover {
    text-decoration: none;
    color: $orange;
}

p {
	color: $wheat;
}

label {
	color: $yolk;
}

button {
	background-color: $dirtpurple;
	color: $wheat;
}

.descriptions {
	border: 3px solid teal;
	margin-top: 50px;
}

.homepage {
	background: linear-gradient(45deg, $crust, $dirtpurple);
}

.panel {
	opacity: 0.9;
}

form {
	z-index: 10000;
}

.nopadboxes {
	padding-bottom: 0px;
}

.form-group {
	position: relative;
}

.static-value {
	right: 10px;
	font-size: 0.9em;
	color: $yolk;
	top: 9px;
}