h1 {
  color: #39CCCC; }

h2 {
  color: #DDDDDD; }

h3 {
  color: #FFDC00; }

body {
  width: 100%;
  height: 100%;
  background: url("https://images5.alphacoders.com/403/403525.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover; }

p {
  color: #AAAAAA; }


  /*Styling from http://marceljuenemann.github.io/angular-drag-and-drop-lists/demo/#/simple*/

div[dnd-list] {
  min-height: 42px;
  padding-left: 0px; }

div[dnd-list] .dndDraggingSource {
  display: none; }

div[dnd-list] .dndPlaceholder {
  background-color: #ddd;
  display: block;
  min-height: 42px; }

div[dnd-list] div.selected {
  background-color: #dff0d8;
  color: #3c763d; }
