h1 {
  color: #8A00C4; }

h2 {
  color: #9E81AA; }

h3 {
  color: #92F8C9; }

p {
  color: #ecd3a5; }

label {
  color: #f7b52c; }

h1 {
  color: #8A00C4; }

h2 {
  color: #9E81AA; }

h3 {
  color: #92F8C9; }

p {
  color: #ecd3a5; }

label {
  color: #f7b52c; }

body {
  width: 100%;
  height: 100%;
  background: url("https://lh3.googleusercontent.com/-fDMmTlVQ8o8/U2lgxKP9SII/AAAAAAAAAhI/EBolw_sl77o/w400-h200/tumblr_n47u6rDPJ31qzd1ybo2_400_zps43dd2d89.png") bottom right no-repeat;
  background-attachment: fixed; }

a {
  text-decoration: none;
  color: #f29601;
  font-size: 1.1em; }

a:hover {
  text-decoration: none;
  color: #d79735; }

button {
  background-color: #9E81AA;
  color: #ecd3a5; }

.descriptions {
  border: 3px solid teal;
  margin-top: 50px; }

.homepage {
  background: linear-gradient(45deg, #f29601, #9E81AA);
  opacity: 0.65; }

.panel {
  opacity: 0.9; }

form {
  z-index: 10000; }

.nopadboxes {
  padding-bottom: 0px; }

.form-group {
  position: relative; }

div[dnd-list] .dndDraggingSource {
  display: none; }

div[dnd-list] .dndPlaceholder {
  background-color: #9E81AA;
  display: block;
  min-height: 45px; }

div[dnd-list] div.selected {
  background-color: #8A00C4;
  color: #f7b52c; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Libre Baskerville", serif; }

p, a, label, input {
  font-family: "Amiko", sans-serif; }
