<div class="descriptions homepage col-xs-12">
    <h1 class="text-center">hi mom!</h1>
    <h3 class="text-center">here we are, to mix the dough.</h3>
    <p class="text-center">to start with the mother, the levain, the sourdough, to innoculate life into dormant earth matter- flour, water, salt, and friends.</p>
</div>
<div class="container col-xs-4 col-xs-offset-4 descriptions">
    <input type="email" class="form-control form-spacing" placeholder="email address" ng-model="auth.email" required autofocus>
    <input type="password" class="form-control form-spacing" placeholder="password" ng-model="auth.password" required>
    <button class="btn btn-lg col-xs-6" ng-click="loginUser()">login</button>
    <button class="btn btn-lg col-xs-6" ng-click="registerUser()">register</button>
</div>