<h1>new bread</h1>
<form>
    <div class="form-group">
        <label>Bread Name</label>
        <input type="text" class="form-control" placeholder="Some Bread" ng-model="newBread.name" />
    </div>
    <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" placeholder="Bread Description" ng-model="newBread.description" />
    </div>
    <label class="scale">
        <input type="radio" class="form-control" ng-model="newBread.by_loaf" ng-value="false">Scale by Kilograms</label>
    <label class="scale">
        <input type="radio" class="form-control" ng-model="newBread.by_loaf" ng-value="true">Scale by Loaf</label>
    <button class="btn btn-default" ng-click="addNewBread()">Add Bread</button>
</form>
