<div class="clearfix panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title text-center">breads by kilograms</h3>
    </div>
    <div ng-repeat="bread in breads | filter: {by_loaf: false}" class="clearfix panel-body col-xs-4">
        <a ng-href="#!/bread/view/{{bread.id}}">{{bread.name}}</a>
    </div>
</div>


<div class="clearfix panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title text-center">breads by loaf</h3>
    </div>
    <div ng-repeat="bread in breads | filter: {by_loaf: true}" class="clearfix panel-body col-xs-4">
        <a ng-href="#!/bread/view/{{bread.id}}">{{bread.name}}</a>
    </div>
</div>
