<h2>Bread: {{selectedBread.name}}</h2>
<button class="btn btn-danger"><a ng-href="#!/bread/edit/{{selectedBread.breadid}}">Edit {{selectedBread.name}}</a></button>
<h3>Scale by {{selectedBread.by_loaf}}</h3>
<h3>Description: {{selectedBread.description}}</h3>

<h1>Ingredients</h1>
<div ng-repeat="ingredient in ingredients">
    <div class="panel panel-default opacity col-xs-3">
        <div class="panel-body">
            <div>
                <a ng-href="#!/bread/edit/ingredients/{{SelectedBread.breadid}}">{{ingredient.amount}} {{ingredient.unit}} {{ingredient.name}}</a>
            </div>
        </div>
    </div>
</div>
<br>
<h1>Steps</h1>
<div ng-repeat="step in steps | orderBy:'order'">
    <div class="panel panel-default opacity col-xs-10">
        <div class="panel-body">
            <div>
                <a ng-href="#!/bread/edit/steps/{{SelectedBread.breadid}}">{{step.order}} {{step.name}} {{step.details}}</a>
            </div>
        </div>
    </div>
</div>