<h2>Bread: {{selectedBread.name}}</h2>
<button class="btn btn-danger"><a ng-href="#!/bread/edit/{{selectedBread.breadid}}">Edit {{selectedBread.name}}</a></button>
<h3>Scale by {{selectedBread.by_loaf}}</h3>
<h3>Description: {{selectedBread.description}}</h3>
<h1>Ingredients</h1>
<div>
    <input type="number" class="form-control" placeholder="1" ng-model="multiplyFactor" />
</div>
<button class="btn btn-warning" ng-click="addNewIngredient(selectedBread.breadid)">Add New Ingredient</button>
<div ng-repeat="ingredient in ingredients">
    <div class="panel panel-default opacity col-xs-3">
        <div class="panel-body">
            <div>
                <div>{{ingredient.amount * (multiplyFactor || 1)}} {{ingredient.unit}}</div><a ng-href="#!/bread/{{selectedBread.breadid}}/ingredients/{{ingredient.id}}"> {{ingredient.name}}</a>
            </div>
        </div>
    </div>
</div>
</div>
<br>
<h1>Recipe</h1>
<button class="btn btn-warning"><a ng-href="#!/bread/{{selectedBread.breadid}}/recipe/new">Add New Step</a></button>
<div ng-repeat="step in steps | orderBy:'order'">
    <div class="panel panel-default opacity col-xs-10">
        <div class="panel-body">
            <div>
                <a ng-href="#!/bread/{{selectedBread.breadid}}/recipe/{{step.id}}">{{step.order}} {{step.name}} {{step.details}}</a>
            </div>
        </div>
    </div>
</div>
