<h1>bread view</h1>
<h2>Bread: {{selectedBread.name}}</h2>
<button class="btn btn-danger"><a ng-href="!#/bread/edit/{{selectedBread.id}}"></a></button>
<h3>Scale by {{selectedBread.by_loaf}}</h3>
<h3>Description: {{selectedBread.description}}</h3>

<h1>Ingredients</h1>
<div ng-repeat="ingredient in ingredients">
    <div class="panel panel-default opacity">
        <div class="panel-body">
            <div class="col-xs-7">
                <a ng-href="#!/bread/edit/ingredients/{{SelectedBread.id}}">{{ingredient.name}}</a>
            </div>
        </div>
    </div>
</div>