<form class="col-xs-8 col-xs-offset-2">
    <h1>Add Step</h1>
    <div class="form-group">
        <input type="text" class="form-control col-xs-6" placeholder="Step Name" ng-model="newStep.name" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control col-xs-6" placeholder="Details" ng-model="newStep.details" />
    </div>
    <div class="form-group">
        <input type="number" class="form-control col-xs-6" placeholder="Duration in Minutes" ng-model="newStep.duration_minutes" />
    </div>
    <div class="form-group">
        <input type="number" class="form-control col-xs-6" placeholder="Order in Recipe" ng-model="newStep.order" />
    </div>
    <button class="btn btn-lg col-xs-6" ng-click="saveStepEdit(newStep.id)" ng-show="editMode">Save Edit</button>
    <button class="btn btn-lg col-xs-6" ng-click="addNewStep(newStep.id)" ng-hide="editMode">Save Step</button>
    <button class="btn btn-lg col-xs-6" ng-click="deleteOneStep(newStep.id)" ng-show="editMode">Delete Step</button>
</form>
<div class="clearfix panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">Recipe</h3>
        <h3>Reorder Steps</h3>
    </div>
    <div dnd-list="steps">
        <div ng-repeat="step in steps" dnd-draggable="step" dnd-moved="steps.splice($index, 1)" dnd-effect-allowed="move" dnd-selected="models.selected = step" ng-class="{'selected': models.selected === step}" class="nopadboxes panel-body col-xs-10">
            <a ng-href="#!/bread/{{step.bread_id}}/recipe/{{step.id}}">{{step.name}} {{step.details}}</a>
        </div>
    </div>
