<h1>Add Step</h1>
<form>
    <div class="form-group">
        <label>Step Name</label>
        <input type="text" class="form-control" placeholder="Step Name" ng-model="newStep.name" />
    </div>
    <div class="form-group">
        <label>Details</label>
        <input type="text" class="form-control" placeholder="Details" ng-model="newStep.details" />
    </div>
    <div class="form-group">
        <label>Duration</label>
        <input type="number" class="form-control" placeholder="Duration in Minutes" ng-model="newStep.duration_minutes" />
    </div>
    <div class="form-group">
        <label>Order in Recipe</label>
        <input type="number" class="form-control" placeholder="Order in Recipe" ng-model="newStep.order" />
    </div>
    <button class="btn btn-default" ng-click="addNewStep(newStep.breadid)">Save Step</button>
</form>

<h1>Recipe</h1>
<div ng-repeat="step in steps | orderBy:'order'">
    <div class="panel panel-default opacity col-xs-10">
        <div class="panel-body">
            <div>
                <a ng-href="#!/bread/edit/recipe/{{SelectedBread.breadid}}/{{SelectedStep.recipeid}}">{{step.order}} {{step.name}} {{step.details}}</a>
            </div>
        </div>
    </div>
</div>